html {
	font-size: 10px;
}

.main_wrapper {
	width: 95%;
	max-width: 1000px;
	display: flex;
	flex-flow: column;
	margin: auto;
	position: relative;
}

/* ************** */
/* *** Header *** */
.header {
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

/* *** menu *** */
.menu {
	display: flex;
	gap: 4rem;
}
.menu a {
	display: inline-block;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #fff;
	text-decoration: none;
}

/* ************ */
/* *** Hero *** */
#hero {
	width: 100%;
	height: 100vh;
	background-image: url("/assets/hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* ****************** */
/* *** Sub Header *** */
#subHeader {
	width: 100%;
	background-color: #ffffff;
	padding: 15px 0 13px;
}
.subHeader_wrapper {
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
.subHeader_wrapper .menu a {
	color: #414f6b;
}

/* ********************* */
/* *** Title Section *** */
.title_section {
	display: flex;
	align-items: baseline;
}
.title_num {
	font-family: "Oswald", sans-serif;
	color: #414f6b;
	opacity: 0.5;
	font-weight: 700;
	font-size: 13.6rem;
	line-height: 100%;
}
.title_text {
	text-transform: uppercase;
	font-size: 3.2rem;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	color: #414f6b;
	margin-top: auto;
	padding-bottom: 27px;
	position: relative;
}
.title_text::after {
	content: "";
	position: absolute;
	bottom: 6px;
	left: 2px;
	width: 24px;
	height: 24px;
	background-color: #414f6b;
	opacity: 0.5;
}

/* *** Text *** */
.text {
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.4rem;
	color: #000000;
}

/* *************** */
/* *** History *** */
#history {
	width: 100%;
	display: flex;
	flex-flow: column;
	background-image: url("/assets/peak.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}
.history_main {
	height: 100vh;
	padding-top: 40px;
}
.history_text {
	max-width: 849px;
	width: 100%;
	margin: 0 auto;
}

.history_slider {
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: rgba(66, 80, 108, 0.8);
	display: flex;
}
.splide__slide {
	height: 160px;
	padding: 10px;
}
.splide__slide img {
	width: 100%;
}
.splide__pagination {
	bottom: -1.5em;
}

/* ************** */
/* **** Team **** */
#team {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	flex-flow: column;
	position: relative;
	overflow: hidden;
}
.team_main {
	gap: 30px;
	max-width: 900px;
	padding: 10px 0 20px;
	align-items: center;
	background-color: #ffffff;
	flex-flow: row;
	align-items: center;
}

.tabbed-content {
	height: 100%;
	background-image: url("/assets/schedule.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 75%;
}
.tabbed-content .tabs {
	display: none;
	background-color: #414f6b;
}
.tabs .main_wrapper {
	flex-flow: row;
	gap: 30px;
}
.tabs a {
	display: inline-block;
	background-color: #414f6b;
	color: #b0b4be;
	font-size: 2rem;
	line-height: 90%;
	font-weight: 700;
	padding: 8px 15px;
	font-family: "Oswald", sans-serif;
	cursor: pointer;
	text-decoration: none;
}
.tabbed-content .item {
	min-height: 2em;
}
.tabbed-content .item::before {
	content: attr(data-title);
}
.item::before {
	cursor: pointer;
	font-weight: bold;
	background: #eee;
	padding: 0.5em;
	display: block;
	font-size: 2rem;
	line-height: 90%;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	color: #414f6b;
	padding: 8px 2.5%;
}
.item.active::before {
	background: #414f6b;
	color: #eee;
}
.item.active .item-content {
	padding: 1em;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.tabbed-content .item .item-content {
	opacity: 0;
	visibility: hidden;
	height: 0;
}
.tabbed-content .item.active .item-content {
	opacity: 1;
	visibility: visible;
	height: auto;
}

@media all and (min-width: 800px) {
	.tabbed-content .tabs {
		display: block;
	}
	.tabbed-content .tabs li {
		display: inline-block;
	}
	.tabbed-content .tabs li a {
		display: block;
	}
	.tabbed-content .item {
		min-height: 0;
	}
	.tabbed-content .item::before {
		display: none;
	}
	.tabs .active {
		background-color: #b0b4be;
    	color: #414f6b;
	}
}

.item_lol {
	flex-flow: column;
	max-width: fit-content;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 35px 15px 35px 35px;
	margin: 60px 0 0 70px;
}
.item_lol h3 {
	font-size: 3.2rem;
	line-height: 100%;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	color: #414f6b;
	margin-bottom: 20px;
}
.item_lol table {
	width: 100%;
}
.item_lol td {
	font-size: 1.2rem;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	line-height: 100%;
	height: 1.3em;
	width: 10em;
}

/* ************** */
/* *** Footer *** */
footer {
	width: 100%;
	background-color: #414f6b;
	padding: 15px;
}
.footer_wrapper {
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
footer span {
	font-size: 1.2rem;
	line-height: 2rem;
	display: inline-block;
	color: #63769d;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-weight: 900;
}

@media screen and (max-width: 1050px) {
	/* *************** */
	/* *** History *** */
	#image_carousel {
		width: 816px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 950px) {
	/* *************** */
	/* *** History *** */
	.history_text {
		padding-left: 7%;
	}
}

@media screen and (max-width: 850px) {
	/* *************** */
	/* *** History *** */
	#image_carousel {
		width: 597px;
	}
}

@media screen and (max-width: 800px) {
	/* ************** */
	/* **** Team **** */
	#team {
		height: min-content;
	}
    .item_lol {
        margin: 20px;
    }
}

@media screen and (max-width: 668px) {
	/* *************** */
	/* *** History *** */
	#image_carousel {
		width: 533px;
	}

	/* ************** */
	/* **** Team **** */
	.team_main {
		flex-flow: column;
		align-items: flex-start;
		gap: 5px;
	}
	.team_main_text {
		padding-left: 10%;
	}

	.tabs_grid .main_wrapper {
		padding: 30px 0 0 40px;
	}
}

@media screen and (max-width: 620px) {
    /* ************ */
    /* *** Hero *** */
    #hero {
        background-size: 200% 100%;
        background-position: 38%;
    }
}

@media screen and (max-width: 560px) {
	/* *************** */
	/* *** History *** */
	#image_carousel {
		width: 250px;
	}


    /* ************** */
	/* **** Team **** */
    .item_lol {
        margin: 20px 0;
    }


	/* ************** */
	/* *** Footer *** */
	.footer_image img {
		width: 120px;
	}
}

@media screen and (max-width: 425px) {
	/* *** menu *** */
	.menu {
		gap: 2rem;
	}

	/* ****************** */
	/* *** Sub Header *** */
	.subHeader_image img {
		width: 125px;
	}

	/* ************** */
	/* *** Footer *** */
	.footer_wrapper {
		flex-flow: column;
		gap: 5px;
	}
}
